
.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
  }


  
  .hero {
    text-align: center;
    // margin-bottom: 3rem;
    position: relative;
    width: 100vw;
  
    .hero-bg {
      background-image: url('../../../assets/ali-inay-y3aP9oo9Pjc-unsplashLarge.jpeg');
      background-size: cover;
      // background-position: center;
      width: 100%;
      height: 70vh;
      // position: absolute;
      z-index: -1;
  
  
      
  }
  
  
  mat-toolbar{
    h1{
      color: #140101;
      // font-size: 20em;
      margin-top: 80px;
      // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      
    }
  
  }
  
  .txt{
    font-size: 200px !important;
  }
  
    p {
      font-size: 1.5rem;
      // margin-bottom: 2rem;
    }
  
    button {
      // margin-top: 2rem;
    }
  }
  
  .specials {
    text-align: center;
    margin-bottom: 3rem;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  
    
  }
  
  
  
  .delivery {
    // display: flex;
    text-align: center;
    margin-bottom: 3rem;
    gap: 5em;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    img{
      // border: .5px solid;
      border-radius: 40px;
    }
  }
  
  //First child divs inside (footer.div)
  footer div > div {
    padding: 1em;
    // border: 2px solid red;
    display: flex ;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo {      
    overflow: hidden;
  
    img{
      max-width:50px;
      border-radius: 10px;

      height: fit-parent;
    }
  }

  @media (min-width: 1400px) {
    .container{
      max-width: 1400px;
    }
    
  }
  