
.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
  }
  
  
  .hero {
    text-align: center;
    // margin-bottom: 3rem;
    position: relative;
    width: 100vw;
  
    .hero-bg {
      background-image: url('../../../assets/ali-inay-y3aP9oo9Pjc-unsplashLarge.jpeg');
      background-size: cover;
      // background-position: center;
      width: 100%;
      height: 70vh;
      // position: absolute;
      z-index: -1;
  
  
      
  }
  
  
  mat-toolbar{
    h1{
      color: #140101;
      // font-size: 20em;
      margin-top: 80px;
      // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      
    }
  
  }
  
  .txt{
    font-size: 200px !important;
  }
  
    p {
      font-size: 1.5rem;
      // margin-bottom: 2rem;
    }
  
    button {
      // margin-top: 2rem;
    }
  }
  
  .specials {
    text-align: center;
    margin-bottom: 3rem;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  
    
  }
  
  
  
  .delivery {
    // display: flex;
    text-align: center;
    margin-bottom: 3rem;
    gap: 5em;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    img{
      // border: .5px solid;
      border-radius: 40px;
    }
  }
  
  .footer {
  //   background-color: $primary;
    // color: #fff;
    padding: 2rem;
  
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      
  
      .footer-location {
        font-size: 1.2rem;
      }
  
      .footer-social {
        a {
          // color: #fff;
          margin-right: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
  
  .footer-logo {      
    border-radius: 10px;
    overflow: hidden;
  
    img{
      width:50px;
      height: fit-parent;
    }
  }
  