<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand footer-logo font-monospace fs-4" routerLink="/home"> <img src="../assets/logo.jpeg" alt="logo image" class="me-2">MyRestaurant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Veg</a></li>
            <li><a class="dropdown-item" href="#">Non-Veg</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Korean</a></li>
            <li><a class="dropdown-item" href="#">Chinese</a></li>
            <li><a class="dropdown-item" href="#">Indian</a></li>


          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button *ngIf="!authSvc.isLoggedIn" class="btn btn-outline-success" type="submit" (click)="$event.preventDefault();login()">Login/Sign Up</button>
      <ul class="dropdown temp">
        <i *ngIf="authSvc.isLoggedIn" role="button" class="fa-solid fa-circle-user me-4" data-bs-toggle="dropdown"></i>
        <ul class="dropdown-menu end-50">
          <li >
            <a href="" class="dropdown-item" role="button">My Profile</a>
          </li>
          <li >
            <a href="" class="dropdown-item" role="button" (click)="logout()">Logout</a>
          </li>
        </ul>
      </ul>

    </div>
  </div>
</nav>


<router-outlet></router-outlet>

