
    .card {
      margin: 1rem ;
      // width: 80vw;
      border-radius: 25px;
      // border: .5px solid;
      overflow: hidden;

      .card-image {
        width: 100%;
        height: 200px;
object-fit: cover;
      }

      mat-card-content {
        text-align: left;
      }
    }



    mat-card:hover{
      transform: scale(1.1);
    }

    mat-card{
      transition: transform 100ms ease;
    }

    @media (max-width: 768px) {
      .card-image{
        height: 125px;

      }
      
    }