
    .card {
      margin: 1rem ;
      max-width: fit-content;
      border-radius: 25px;
      // overflow: hidden;

      .card-image {
        // max-height: 200px;
        // max-width: 1000px;
        border-radius: 10px;
        width: 900px;
        max-height: 210px;
        object-fit: cover;
      }

      // mat-card-content {
      //   text-align: left;
      // }
    }



    mat-card:hover{
      transform: scale(1.1);
    }

    mat-card{
      transition: transform 100ms ease;
    }

    @media (max-width: 834px) {

      .card-container{
        flex-direction: column;
      }
      
    }